@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root /*serve para selecionar o elemento raíz do documento. Assim que se cria variável no css*/{
    --color-gray: #ddd;
    --color-purple: #4d41c0;
    --color-white: #fff;
    --text-gray: #4a4a4a;
    --text-light-gray: #aaa;
    --star-color: #ffbb3a;
}

* {
    box-sizing: border-box; /*borda dos elementos não ocupa área*/
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 { /*preciso fazer isso, porque o bootstrap sobrescreve o (*)*/
    margin: 0;
}

html, body {
    background-color: var(--color-gray);
}

header /*cabeçalho*/{
    background-color: var(--color-purple); /*cor do cabeçalho*/
    color: var(--color-white); /*cor principal do site*/
    height: 60px;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 /*quando eu tenho algo já dentro de um elemento, utilizo os dois para separar*/ { 
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

a, a:hover /*seletor de link, quando passa o mouse em cima*/{
    text-decoration: none;
    color: unset;
}

.dsmovie-contact-container /*obs: quando é classe, precisa do ponto na frente*/ {
    display: flex;
    align-items: center;
}

.dsmovie-contact-container img {
    margin-right: 10px;

}

#dsmovie-card-list /* obs: # por ser uma id*/ {
    padding: 40px 10px; /*é um espaçamento interno. Nesse caso, terá 40 na vertical e 0 nas laterais*/
}

.dsmovie-card {
    width: 100%; 
}

.dsmovie-card img {
    width: 100%; /*encaixa a imagem no tamanho do card*/
    border-radius: 8px 8px 0 0; /*arredonda só os cantos definidos com px -> topo esq e topo dir.*/
}

.dsmovie-card-description {
    padding: 10px 20px 20px 20px; /*definição de margem em sentido horário -> topo, dir, baixo, esq*/ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-white);
    border-radius: 0 0 8px 8px;
    height: 190px;
}

.dsmovie-card-description h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.dsmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--star-color);
}

.dsmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-gray);
    margin-bottom: 10px;
}

.dsmovie-card-description-bottom img{ 
    width: 22px;
}

.dsmovie-btn, .dsmovie-btn:hover {
    width: 180px;
    height: 40px;
    background-color: var(--color-purple);
    color: var(--color-white);
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 0;
}

.dsmovie-form-container {
    padding: 40px 0; /*se tenho div que é container e colocar padding, vou dar espaçamento entra a borda do container e o conteúdo que é o card*/ /*40px na horizontal e 0 na vertical*/
    max-width: 480px;
}

.dsmovie-form-description {
    background-color: var(--color-white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.dsmovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dsmovie-form{
    width: 100%; /*deixa a caixa mais larga. Se tirar, ela fica centralizada pequena por causa da config acima*/
}

.dsmovie-form-group {
    margin-bottom: 20px;
}

.dsmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-gray);
}

.dsmovie-form-btn-container{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

